#these two variables are used in multiple files by AWS. If other variable names used
#we will not be able to use enviorment variables to deploy Packer template.
export AWS_ACCESS_KEY_ID=$SANDBOX_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$SANDBOX_SECRET_KEY
export AWS_REGION=$REGION

#username to login to instances for aws
export AWS_USERNAME=$USER

export AWS_VPC_ID=$SANDBOX_VPC_ID
export AWS_SUBNET_ID=$SANDBOX_SUBNET_ID
export AWS_SECURITY_GROUP_ID=$SANDBOX_SECURITY_GROUP_ID
export AWS_SECURITY_GROUP_NAME=$MJOLNIR_SECURITY_GROUP_NAME
#NEED THIS VARIABLE TO build through terraform
export AWS_KEY_NAME=$MJOLNIR_KEY_NAME
export AWS_AMI=$AMI_ID

################################################################
# MODIFIED VARIABLES
################################################################
export NUM_VM=CHANGE-ME
export NUM_CONTAINERS=CHANGE-ME
export ALB_NAME=CHANGE-ME
################################################################
export SSH_UNAME=centos
export FLASK_ENV=development

