#NO underscores, capital letters, or dashes allowed in project name
export AZ_CLIENT_SECRET=$AZ_CLIENT_SECRET
export AZ_SUBSCRIPTION_ID=$AZ_SUBSCRIPTION_ID
export AZ_TENANT_ID=$AZ_TENANT_ID
export AZ_CLIENT_ID=$AZ_CLIENT_ID
export SSH_PASS=centos

############################################################
export PROJECT_NAME=CHANGE-ME 
export NUM_CONTAINERS=CHANGE-ME
export NUM_VMS=CHANGE-ME
############################################################
